:root {
  --black: #222;
  --backgroundShade: #0d1526;
  --background: #142038;
  --backgroundTint: #1e2e3f;
  --brandShade: #43b185;
  --brand: #72cca7;
  --brandTint: #edf7f3;
  --bodyColor: #8a94a7;
  --bodyColorTint: hsl(219, 11%, 65%);
  --white: #fff;
  --fontMin: 16px;
  --fontMax: 20px;
  --maxWidth: 1000px;
  --mobileBP: 414px;
  --paddingDouble: 2rem;
  --padding: 1rem;
  --paddingHalf: 0.5rem;
  --zIndexFront: 10;
  --zIndexForward: 1;
}

html {
  box-sizing: border-box;
  font-size: var(--fontMin);
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(
      var(--fontMin) + (var(--fontMax) - var(--fontMin)) *
        ((100vw - 320px) / 680)
    );
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: var(--fontMax);
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
  background: var(--background);
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.15;
  font-weight: 700;
}

h1 {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--white);
}

h2 {
  font-size: 1.2rem;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--brandTint);
}

p {
  margin: var(--padding) 0;
}

a {
  color: inherit;
  text-decoration: none;
}

legend {
  color: inherit;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}
